APP_NAME=starter-api
APP_ENV=development
HTTP_ADDRESS=:8080
DATABASE_DSN=starter:starter@tcp(127.0.0.1:3306)/starter?parseTime=true&charset=utf8mb4&collation=utf8mb4_unicode_ci
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME=5m
